In [1]:
import pandas as pd

In [32]:
df1 = pd.DataFrame({"customer": [101,102,103,105],
                    "category": ["cat2", "cat2", "cat1", "cat3"],
                    "important": ['yes', 'no', 'no', 'yes'],
                    "sales": [123,234,345,456]
                   }, index= [0,1,2,3])
df2 = pd.DataFrame({"customer": [101,101,103,104],
                    "color": ["yellow", "green", "green", "blue"],
                    "distance": [12,9,44,21],
                    "sales": [123,213,456,765]
                   }, index=[4,5,6,7])
df2['color'].unique() # prints the unique values in an array

array(['yellow', 'green', 'blue'], dtype=object)

In [3]:
df2['color'].value_counts() # prints the colors and their no.of occurances

green     2
yellow    1
blue      1
Name: color, dtype: int64

In [4]:
df2.mean()

customer    102.25
distance     21.50
sales       389.25
dtype: float64

In [5]:
df2.columns # prints the column names in an array

Index(['customer', 'color', 'distance', 'sales'], dtype='object')

In [6]:
print((df2['customer']!= 105) & (df2['color']!='green'))
df2[(df2['customer']!= 105) & (df2['color']!='green')]

4     True
5    False
6    False
7     True
dtype: bool

   customer   color  distance  sales
4       101  yellow        12    123
7       104    blue        21    765

In [7]:
print(df2['sales'].mean())
print(df2['distance'].min())

389.25
9

In [8]:
def profit(s):
    return s*0.2

In [9]:
df2['sales'].apply(profit)

4     24.6
5     42.6
6     91.2
7    153.0
Name: sales, dtype: float64

In [10]:
df2['color'].apply(len) # prints the no.of characters in each color value

4    6
5    5
6    5
7    4
Name: color, dtype: int64

In [33]:
df5 = df2[['distance', 'sales']].applymap(profit) # apply map only works on individual element of dataframe not on entire series
df5

   distance  sales
4       2.4   24.6
5       1.8   42.6
6       8.8   91.2
7       4.2  153.0

In [12]:
df5.apply(sum)

distance     17.2
sales       311.4
dtype: float64

In [14]:
del df2['color']
df2

   customer  distance  sales
4       101        12    123
5       101         9    213
6       103        44    456
7       104        21    765

In [15]:
df2.index

Int64Index([4, 5, 6, 7], dtype='int64')

In [23]:
df2.sort_values(['distance', 'sales'], ascending=[True, False])

   customer  distance  sales
5       101         9    213
4       101        12    123
7       104        21    765
6       103        44    456

In [24]:
mydict = {
    'customer': ['customer1','customer1','customer2','customer2','customer3','customer3'],
    'product1': [1.1,2.1,3.8, 4.2,5.5,6.9],
    'product2': [8.2,9.1,11.1, 5.2,44.66,983]
}
df6=pd.DataFrame(mydict, index=['purchase1','purchase2','purchase3','purchase4','purchase5','purchase6'])
df6

            customer  product1  product2
purchase1  customer1       1.1      8.20
purchase2  customer1       2.1      9.10
purchase3  customer2       3.8     11.10
purchase4  customer2       4.2      5.20
purchase5  customer3       5.5     44.66
purchase6  customer3       6.9    983.00

In [27]:
grouped_data = df6.groupby('customer')
print(grouped_data) # groupby will help us creating pivot tables

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11b0fbb20>

In [29]:
grouped_data.describe()

          product1                                           product2          \
             count mean       std  min   25%  50%   75%  max    count    mean
customer
customer1      2.0  1.6  0.707107  1.1  1.35  1.6  1.85  2.1      2.0    8.65
customer2      2.0  4.0  0.282843  3.8  3.90  4.0  4.10  4.2      2.0    8.15
customer3      2.0  6.2  0.989949  5.5  5.85  6.2  6.55  6.9      2.0  513.83


                  std    min      25%     50%      75%    max
customer
customer1    0.636396   8.20    8.425    8.65    8.875    9.1
customer2    4.171930   5.20    6.675    8.15    9.625   11.1
customer3  663.506577  44.66  279.245  513.83  748.415  983.0

In [30]:
grouped_data.mean()

           product1  product2
customer
customer1       1.6      8.65
customer2       4.0      8.15
customer3       6.2    513.83