In [1]:
import pandas as pd

In [2]:
df2 = pd.DataFrame({"customer": [101,101,103,104],
                    "color": ["yellow", "green", "green", "blue"],
                    "distance": [12,9,44,21],
                    "sales": [123,213,456,765]
                   }, index=[4,5,6,7])
del df2['color']
df2

   customer  distance  sales
4       101        12    123
5       101         9    213
6       103        44    456
7       104        21    765

In [5]:
df2.to_csv('df2.csv', index=False) # By default, index will be included

In [7]:
df2['index'] = ['idx1','idx2','idx3','idx3']
df2.set_index('index', inplace=True)
df2.to_csv('df2.csv', index=True)

In [10]:
df2_from_file = pd.read_csv('df2.csv', index_col=0) # Or we can use the index column name if we have, df2_from_file = pd.read_csv('df2.csv', index_col='index')
df2_from_file

       customer  distance  sales
index
idx1        101        12    123
idx2        101         9    213
idx3        103        44    456
idx3        104        21    765

In [12]:
df2_from_file = pd.read_csv('df2.csv')# without index column
df2_from_file

  index  customer  distance  sales
0  idx1       101        12    123
1  idx2       101         9    213
2  idx3       103        44    456
3  idx3       104        21    765

In [13]:
df2_from_file = pd.read_csv('df2.csv', index_col=1)# index column as 1 (it uses customer series as index)
df2_from_file

         index  distance  sales
customer
101       idx1        12    123
101       idx2         9    213
103       idx3        44    456
104       idx3        21    765

In [16]:
# We can do same with excel
df2.to_excel('df2.xlsx', index=False, sheet_name='data_frame')
df2_from_excel = pd.read_excel('df2.xlsx', sheet_name='data_frame', index_col=0)
df2_from_excel

          distance  sales
customer
101             12    123
101              9    213
103             44    456
104             21    765