In [1]:
import numpy as np
import pandas as pd

In [2]:
my_list = [1.2,2,3.2,4,4.5,6.2,6.5]
numpy_array = np.array(my_list)
print(numpy_array)

[1.2 2.  3.2 4.  4.5 6.2 6.5]

In [3]:
my_series = pd.Series(my_list)
print(my_series)
print(my_series[2])
print(" ")

my_series1 = pd.Series(numpy_array)
print(my_series1)

0    1.2
1    2.0
2    3.2
3    4.0
4    4.5
5    6.2
6    6.5
dtype: float64
3.2

0    1.2
1    2.0
2    3.2
3    4.0
4    4.5
5    6.2
6    6.5
dtype: float64

In [4]:
# We can add the lables instead of having default numbers

labels = ['first', 'second', 'third', 'fourth', 'fith', 'sixth', 'seventh'] # The length of the lables should match with length of the series/data
series_with_labels = pd.Series(data=my_list, index=labels) 
print(series_with_labels)
series_with_labels = pd.Series(my_list, labels)
print(series_with_labels)

first      1.2
second     2.0
third      3.2
fourth     4.0
fith       4.5
sixth      6.2
seventh    6.5
dtype: float64
first      1.2
second     2.0
third      3.2
fourth     4.0
fith       4.5
sixth      6.2
seventh    6.5
dtype: float64

In [5]:
#accessing using labes
print(series_with_labels[labels[1]])
print(series_with_labels['third'])

2.0
3.2

In [6]:
my_series1 = pd.Series([1.2,3.2,33,4,5],['first','third','fourth', 'eight', 'tenth'])
print(series_with_labels + my_series1) # It first sorts the series in the order of labels and adds values of the corresponding lables

eight       NaN
first       2.4
fith        NaN
fourth     37.0
second      NaN
seventh     NaN
sixth       NaN
tenth       NaN
third       6.4
dtype: float64

In [7]:
# Creating Dataframe series
data_frame = pd.concat([series_with_labels, my_series1], axis=1, sort=True) # With axis=1 it will both series side by side
# with axis=0, one series will come after the other in a single column
print(data_frame)

           0     1
eight    NaN   4.0
first    1.2   1.2
fith     4.5   NaN
fourth   4.0  33.0
second   2.0   NaN
seventh  6.5   NaN
sixth    6.2   NaN
tenth    NaN   5.0
third    3.2   3.2

In [21]:
# Another way of creating a data frame
my_data_frame = pd.DataFrame(np.random.randn(5,5))
print(my_data_frame)

          0         1         2         3         4
0  0.624219  2.096776  0.604973 -0.732857 -0.759181
1  0.028584 -0.793042 -2.121008 -0.093615 -0.581000
2  0.741218  1.144062  1.913737  0.656595  1.548797
3 -1.048616  1.129278 -0.241018 -1.469783 -0.157269
4 -0.394671 -1.763013 -1.002450  1.108885  1.924904

In [25]:
# labeling the data frame
my_data_frame = pd.DataFrame(np.random.randn(5,5), 
                             ['first row', 'second row', 'third row', 'fourth row', 'fitfth row'],
                             ['1st column', '2dn column', '3rd column', '4th column', '5th column'])
print(my_data_frame)

            1st column  2dn column  3rd column  4th column  5th column
first row    -0.196986    0.760210   -0.222104    0.368165   -0.355746
second row    0.239630    0.019748   -0.435433    0.844590    1.453620
third row     0.991455    0.489308    0.731325    0.979586   -0.915160
fourth row   -0.731431   -1.247399   -0.179475   -0.386921    0.118314
fitfth row   -0.812524   -1.417415   -0.051628   -1.829202    1.427991